.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
button {
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.2s ease;
}
button:hover {
  background-color: #3700b3;
}

button:active {
  background-color: #1f007a;
}